<h2>Latest posts:</h2>
<% @posts.each do |post| %>
			<h4><br>
      <%= post.name%>
			<br>
			<%=post.comment%>
			<br></h4>
			Added at <%=post.created_at%>
			<br>
			<a href="/details/<%= post.id %>">Comments</a>
			
<%end%>

